{% extends "base.html.twig" %}

{% block body %}

	<!-- start: breadcrumbs -->
	<section class="row breadcrumbs max-inner">
		<div class="columns col-12">
			<ul class="breadcrumb-list">
				<li>
					<a href="{{ path('home') }}">Home</a>
				</li>
				<li>Product results</li>
			</ul>
		</div>
	</section>
	<!-- end: breadcrumbs -->

	<!-- start: product grid -->
	<section class="product-grid shop-grid">

		<div class="row max-inner sortable-grid">

			{% for product in products %}
				<div class="columns col-3 grid-item">
					<div class="grid-item-media">
						<a href="{{ path('shop.product', {id: product.id}) }}"><img src="{{ asset('images/grid-item-image-' ~ product.image ~ '.jpg') }}"/></a>
					</div>
					<div class="grid-item-desc">
						<h2>
							<a class="grid-item-link" href="{{ path('shop.product', {id: product.id}) }}">
								<span class="grid-item-meta">{{ product.brandname }}</span><hr/>
								<span class="grid-item-title">{{ product.name }}</span>
								<span class="grid-item-price">${{ product.price|number_format(2, '.', '') }}</span>
							</a>
						</h2>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<!-- end: product grid -->
{% endblock %}
